@media (max-width: 1200px) {
    .hide-on-mobile {
        display: none;
    }
}
@media (max-width: 768px) {
p {
    font-size: 13px;
}
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.breadcrumb-item a {
    color: #141619;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
h4 {
    font-weight: 700;
}

footer .nav-link {
    color: rgba(255, 255, 255, 0.55);
}
footer .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

#logo {
    width: 2%;
    margin-right: 10px;
}
.add-to{
    margin: 5px;
    border: 3px pink solid;
    padding-left: 5px;
    padding-right: 5px;
    height: 290px;
}
.add-to a {
    color: black;
    text-decoration: none;
}